@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,300&display=swap");

:root {
  --primary-color: #025e73;
  --secondary-color: #f2668b;
  --text-color: #011f26;
  --border-color: #026873;
  --other-color: #03a688;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

body {
  background-color: white;
}

.main_container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.aside_container {
  /* border: 5px solid orange; */
  display: flex;
  flex-direction: row;
  max-width: 50vw;
  height: 100vh;
  background-color: transparent;
  transition: all 0.5s;
}
.aside_bar {
  min-width: 70px;
  height: 100vh;
  align-items: flex-end;
  padding: 2rem 1rem 2rem 0;
  /* border: 2px solid black; */
}

.aside_content {
  display: flex;
  flex-direction: column;
  /* border: 2px solid pink; */
  height: 100vh;
  width: 100%;
  min-width: 30vw;
  transition: all 0.5s;
}
.aside_btn {
  display: flex;
  flex-direction: column;
  /* border: 2px blue solid; */
  align-items: flex-end;
  padding: 2rem 1rem 2rem 0;
}

.btn {
  height: 40px;
  width: 40px;
  background-color: transparent;
  border: none;
  margin: 0 1rem;
}
.btn:hover {
  cursor: pointer;
}

.aside_form {
  height: 60vh;
  width: 100%;
  /* border: 2px red solid; */
  padding: 2rem 1rem;
}

main {
  /* border: 2px black solid; */
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.filters {
  /* border: 2px yellow solid; */
  height: 8rem;
  width: 100%;
  padding: 1.5rem 0rem;
  background-color: transparent;
  z-index: 121;
}

.filters form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 5px 5px 5px;
  margin: 0 auto;
  width: 80%;
  border: 2px solid rgb(216, 216, 216);
  border-radius: 1rem;
  align-items: center;
  background-color: white;
  opacity: 0.8;
}
.filters form:hover {
  opacity: 1;
}

.filters_col {
  /* border: 2px blue solid; */
  padding: 0.5rem;
  /* background-color: white; */
  /* border-radius: 1rem; */
  /* box-shadow: -1px 18px 12px 4px rgba(0, 0, 0, 0.28); */
}

.filters select {
  /* background-color: green; */
  padding: 0.5rem 2rem;
  font-family: "Noto Sans", sans-serif;
  border-radius: 1rem;
}
.btn_save_filter {
  background-color: var(--secondary-color);
  padding: 10px 25px;
  border: none;
  border-radius: 2rem;
}

.btn_save_filter:hover {
  background-color: #bd3c5e;
  cursor: pointer;
}

.map {
  /* border: 2px solid purple; */
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 0;
}

.hidden {
  display: none;
}
