@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,300&display=swap");

:root {
  --primary-color: #025e73;
  --secondary-color: #f2668b;
  --text-color: #011f26;
  --border-color: #026873;
  --other-color: #03a688;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

body {
  background-color: white;
  max-height: 100vh;
  max-width: 100vw;
  color: var(--text-color);
}

.main_container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.aside_container {
  /* border: 5px solid green; */
  display: flex;
  flex-direction: row;
  max-width: 50vw;
  height: 100vh;
  background-color: transparent;
  transition: all 0.5s;
}
.aside_bar {
  min-width: 70px;
  height: 100vh;
  align-items: flex-end;
  padding: 2rem 1rem 2rem 0;
  /* border: 2px solid black; */
}

.aside_content {
  display: flex;
  flex-direction: column;
  /* border: 2px solid pink; */
  height: auto;
  width: 100%;
  min-width: 25vw;
  transition: all 0.5s;
}
.aside_btn {
  display: flex;
  flex-direction: column;
  /* border: 2px blue solid; */
  align-items: flex-end;
  padding: 0rem 1rem 2rem 0;
}

.btn {
  height: 40px;
  width: 40px;
  background-color: transparent;
  border: none;
  margin: 0 1rem;
}
.btn:hover {
  cursor: pointer;
}

.aside_form {
  height: 60vh;
  width: 100%;
  /* border: 2px red solid; */
  padding: 2rem 1rem;
}

main {
  /* border: 2px black solid; */
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
}

.filters {
  /* border: 2px yellow solid; */
  height: 8rem;
  width: 100%;
  padding: 1.5rem 0rem;
  background-color: transparent;
  z-index: 121;
}

.filters form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 5px 5px 5px;
  margin: 0 20% 0 5%;
  width: auto;
  max-width: 1000px;
  border: 2px solid rgb(216, 216, 216);
  border-radius: 1rem;
  align-items: center;
  background-color: hsla(0, 0%, 100%, 0.6);

  gap: 1rem;
}
.filters form:hover {
  opacity: 1;
}

.filters_col {
  /* border: 2px blue solid; */
  padding: 0.5rem;
  /* background-color: white; */
  /* border-radius: 1rem; */
  /* box-shadow: -1px 18px 12px 4px rgba(0, 0, 0, 0.28); */
}

.filters select {
  /* background-color: green; */
  padding: 0.5rem 2rem;
  font-family: "Noto Sans", sans-serif;
  border-radius: 1rem;
}
.btn_save_filter {
  background-color: var(--secondary-color);
  padding: 10px 25px;
  border: none;
  border-radius: 2rem;
}

.btn_save_filter:hover {
  background-color: #bd3c5e;
  cursor: pointer;
}

.map {
  /* border: 2px solid purple; */
  height: auto;
  width: 100vw;
  height: 100%;
  margin-top: -8rem;
  z-index: 0;
  /* overflow: hidden; */
}

.add_cat {
  position: absolute;
  height: auto;
  min-width: 30vw;
  background-color: white;
  top: 15%;
  left: 25%;
  border-radius: 1.5rem;
  padding: 15px 15px 30px 15px;
  background-color: hsla(0, 0%, 50%, 0.164);
  box-shadow: -1px 18px 12px 4px rgba(0, 0, 0, 0.28);
}
.form_btn_container {
  text-align: right;
}
.form_btn_container button {
  background-color: transparent;
  padding: 0.1rem;
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 2rem;
  font-size: 1.5rem;
}
.form_btn_container button:hover {
  background-color: hsla(0, 0%, 50%, 0.5);
  cursor: pointer;
}

.new_cat_form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  border-radius: 1.5rem;
  border: var(--primary-color) solid 2px;
  background-color: white;
  padding: 2rem 0;
}

.form_cat_row {
  display: flex;
  flex-direction: column;
  padding: 0.8rem 0;
}

.form_cat_row label {
  padding-bottom: 0.3rem;
  font-weight: 500;
}

.form_cat_row select,
.form_cat_row input {
  width: 10rem;
  margin: 0 auto;
  height: 2rem;
  text-align: center;
}
.form_cat_row textarea {
  min-width: 15rem;
  margin: 0 auto;
  min-height: 5rem;
}
.form_cat_row .submit_cat {
  background-color: var(--secondary-color);
  padding: 10px 25px;
  border: none;
  border-radius: 2rem;
  max-width: 8rem;
  margin: 0 auto;
}

.form_cat_row .submit_cat:hover {
  background-color: #bd3c5e;
  cursor: pointer;
}
.side_actions {
  /* border: solid blue 2px; */
  width: 100%;
  text-align: center;
}
.recent_cats {
  /* border: solid orange 2px; */
  max-height: 18rem;
  overflow: auto;
  color: var(--text-color);
}

.recent_cats__row {
  /* border: solid pink 2px; */
  padding: 0.2rem 0;
}

@media only screen and (max-width: 1500px) {
  .filters form {
    max-width: 300px;
    flex-direction: column;
  }
}

.explanation {
  font-size: 0.8rem;
  color: var(--secondary-color);
}

.hidden {
  display: none;
}
